.group-container {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background: #f9f9f9;
}

.track-container {
    margin: 10px 0px 0px 0px;
    width: 100%;
    display: flex;
    align-items: center; /* Align the items vertically centered */
    justify-content: flex-start; /* Align the content to the start */
}
.radio-container {
    width: 20%; /* Set width to 20% for the radio button container */
    display: flex;
    justify-content: left; /* Center the radio button */
    font-size: 0.9em;

}
.waveform {
    height: 90px;
    background: #f5f5f5;
    /*border: 1px solid #0f0;*/
    position: relative;
    width: 80%; /* Take up the remaining 80% width */
    margin: 0 0;
}

button {
    margin: 10px;
}
